@model Student1.Models.Student.UpdateStudentViewModel
@{
}
<h1>View Student</h1>

<form method="post"  class="mt-5">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly/>

    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />

    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Lop</label>
        <input type="text" class="form-control" asp-for="Lop" />

    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Diem</label>
        <input type="number" class="form-control" asp-for="Diem" />

    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Date of birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth" />

    </div>


    <button type="submit" class="btn btn-primary"
            asp-action="View"
            asp-controller="Student">
        Submit
    </button>

    <button type="submit" class="btn-danger"
    asp-action="Delete"
    asp-controller="Student">Delete</button>
</form>

